@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    --radius: 0.5rem;
  }
  
  body {
    background-color: #f8fafc; /* bg-slate-50 */
    color: #0f172a; /* text-slate-900 */
    font-family: Inter, Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
